@model ProjetoBancoDeDados.Models.Eventos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>ProjetoEventos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEventos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEventos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Voltar</a>
</div>
